<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/assets/images/bg-registration-form-2.jpg');">
        <div class="inner">
            <form action="/auth/forget-password" method="POST">
                <h3>Forget Password</h3>
                <div class="form-group">
                </div>
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <% if (success) {%>
                    <div style="text-align: center; color: green;">
                        <label>
                            <p>
                                <%= message %>
                        </label>
                    </div>
                    <% } else { %>
                        <div style="text-align: center; color: crimson;">
                            <label>
                                <p>
                                    <%= message %>
                            </label>
                        </div>
                        <% } %>
                <button>Forget Password</button>
                <div class="form-wrapper" style="margin-top: 20px;">
                    <label for=""><a href="/auth/login" style="color: grey;">Already have acoount! Login</a></label>
                    <!-- <input type="password" class="form-control"> -->
                </div>
            </form>

        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>